@import "styles-scoped";

// ==========================================================================
// Docs (Utilities)
// ==========================================================================

body .scope-container {

#docs__grid {

  @for $i from 1 through $grid-column-count {
    .column--sm--#{$i},.column--md--#{$i},.column--lg--#{$i} {
      background: transparentize($grey-x-light, .5);
      border: 1px solid transparentize($grey-light, .5);
      @include p-el(before, 100%) {
        @extend %center-align;
        content: '#{$i}';
        padding: ($column-padding + px) 0;
        position: relative;
      }
    }
  }
}

section {
  margin: 12rem 0;
}

#docs__button-groups, #docs__buttons--split, #docs__buttons--dropdown {
  [class^="button-group"] {
    margin-bottom: $base-h-padding + px;
  }
}



.alert {
  margin-bottom: 1rem;
}

#docs__juicons .icon-section {
  .juicon {
    background: $grey-x-light;
    padding: 3rem 1rem;
    font-size:2rem;
    color: $grey;
    @extend %center-align;
    margin-top: 2rem;
    @include radius();
    @media (min-width: 1px) and (max-width: 768px) {
      padding: 1rem;
      font-size: 1rem;
    }
  }
  [class*="--2"] {
    @media (min-width: 1px) and (max-width: 768px) {
      width: 25%;
      float: left;
    }
  }
}

.page-headline {
  font-size: 4rem;
  @extend %center-align;
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.code-container {
  @include radius();
  border: 1px solid $grey-xx-light;
  font-size: 12px;
  padding: $base-h-padding+px;
  margin: $key-number+px 0;
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: $color-error;
  }
  .nt {
    color: $my-purple;
  }
  .na, .nv, .vc, .vg, .vi {
    color: $my-turquoise;
  }
  .kc, .kd, .kn, .kp, .kr, .kt, .k, .o {
    font-weight: bold;
  }
}

.toc {
  @extend .list-style-type-none;
  @extend %center-align;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  margin-top: 4rem;
}

}