@font-face {
  font-family: 'ProximaNovaSoft';
  src: url("./fonts/proximanovasoft-regular-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url("./fonts/proximanovasoft-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url("./fonts/proximanovasoft-semibold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft';
  src: url("./fonts/proximanovasoft-bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }