// ==========================================================================
// Grid Container (Layout)
// ==========================================================================

.content {
  @extend .centered;
  @extend %clearfix;
  padding: 0 ($column-padding + px);
  @media (min-width: 1px) and (max-width: 768px) {
    max-width: 100%;
  }
  @media (min-width: 769px) {
    max-width: $content-max-width + px;
    min-height: 1px;
  }
  &--full {
    @extend .content;
    max-width: 100%;
  }
  &--small {
    @extend .content;
    max-width: 324px;
  }
  &--readable {
    @extend .content;
    max-width: 640px;
  }
}

.row {
  margin-left: -16px;
  margin-right: -16px;
  @extend %clearfix;
  @media (min-width: 1px) and (max-width: 768px) {
  }
  @media (min-width: 769px) {
    min-height: 1px;
  }
}


%part-base {

}

.part {
  &__right {
    &--fixed {
      display: table-cell;
      vertical-align: top;
      padding-left: $base-h-padding+px;
    }
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      text-align: center;
      margin-bottom: $base-h-padding+px;
      > img {
        display: inline-block;
      }
    }
    @media (min-width: $brkpoint-md) {
      display: table-cell;
      vertical-align: top;
      padding-left: $base-h-padding+px;
    }
  }
  &__left {
    &--fixed {
      display: table-cell;
      vertical-align: top;
      padding-right: $base-h-padding+px;
    }
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      text-align: center;
      margin-bottom: $base-h-padding+px;
      > img {
        display: inline-block;
      }
    }
    @media (min-width: $brkpoint-md) {
      display: table-cell;
      vertical-align: top;
      padding-right: $base-h-padding+px;
    }
  }
  &__body {
    @media (min-width: $brkpoint-md) {
      display: table-cell;
      vertical-align: top;
    }
  }
}