<!DOCTYPE html>
<html>
<head>
    <title>Template : Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="scope-container">
    <nav class="nav-bar mar--sm--bn">
        <div class="content">
            <div class="nav-bar__menu-toggle">
                <span class="juicon juicon-menu"></span>
            </div>
            <div class="nav-bar__top" style="padding: 12px 0">
                <span class="jui-lettering-medium-logo fsxxl"></span>
            </div>
            <ul class="nav-bar__list--right">
                <li class="nav-bar__list--item active">
                    <a href="#">Link 1</a>
                </li>
                <li class="nav-bar__list--item">
                    <a href="templates">Link 2</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="hero__container">
        <div class="hero text-center">
            <h1>Something</h1>
            <p>Some other stuff</p>
        </div>
    </div>
    <div class="content">
        <h2 class="is-string">
            <span class="jui-lettering-medium-i"></span>
            <span class="jui-lettering-medium-l"></span>
            <span class="jui-lettering-medium-l"></span>
            <span class="jui-lettering-medium-u"></span>
            <span class="jui-lettering-medium-s"></span>
            <span class="jui-lettering-medium-t"></span>
            <span class="jui-lettering-medium-r"></span>
            <span class="jui-lettering-medium-a"></span>
            <span class="jui-lettering-medium-t"></span>
            <span class="jui-lettering-medium-i"></span>
            <span class="jui-lettering-medium-o"></span>
            <span class="jui-lettering-medium-n"></span>
        </h2>
        <div class="row">
            <div class="column--md--4">
                <div class="card mar--sm--bm">
                    <div class="card__feature--top" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/53712/screenshots/678362/screen_shot_2012-08-07_at_11.36.47_am.png)">
                    </div>
                    <div class="card__body">
                        <div class="card__top">
                            <h4 class="card__heading dots">Ferret Party</h4>
                            <h5 class="card__subheading dots">Some sort of event with ferrets</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column--md--4">
                <div class="card mar--sm--bm">
                    <div class="card__feature--top" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/53712/screenshots/678362/screen_shot_2012-08-07_at_11.36.47_am.png)">
                    </div>
                    <div class="card__body">
                        <div class="card__top">
                            <h4 class="card__heading dots">Ferret Party</h4>
                            <h5 class="card__subheading dots">Some sort of event with ferrets</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column--md--4">
                <div class="card mar--sm--bm">
                    <div class="card__feature--top" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/53712/screenshots/678362/screen_shot_2012-08-07_at_11.36.47_am.png)">
                    </div>
                    <div class="card__body">
                        <div class="card__top">
                            <h4 class="card__heading dots">Ferret Party</h4>
                            <h5 class="card__subheading dots">Some sort of event with ferrets</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column--md--4">
                <div class="card mar--sm--bm">
                    <div class="card__feature--top" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/53712/screenshots/678362/screen_shot_2012-08-07_at_11.36.47_am.png)">
                    </div>
                    <div class="card__body">
                        <div class="card__top">
                            <h4 class="card__heading dots">Ferret Party</h4>
                            <h5 class="card__subheading dots">Some sort of event with ferrets</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column--md--4">
                <div class="card mar--sm--bm">
                    <div class="card__feature--top" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/53712/screenshots/678362/screen_shot_2012-08-07_at_11.36.47_am.png)">
                    </div>
                    <div class="card__body">
                        <div class="card__top">
                            <h4 class="card__heading dots">Ferret Party</h4>
                            <h5 class="card__subheading dots">Some sort of event with ferrets</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/jui.js"></script>
</body>
</html>