.card {
  @include radius();
  @extend %clearfix;
  background-color: $white;
  border: 1px solid $component-border-color-light;
  margin-bottom: $base-h-padding+px;
}

$feature-side-unit: 66px;
$feature-cap-unit: 200px;

.card {
  > img {
    max-width: 100%;
  }
  &__feature {
    background-size: cover;
    background-position: center center;
    &--top {
      height: $feature-cap-unit;
      @extend .card__feature;
      @include radius-top();
    }
    &--bottom {
      height: $feature-cap-unit;
      @extend .card__feature;
      @include radius-bottom();
    }
    &--left {
      @extend .card__feature;
      @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
        height: $feature-cap-unit;
        @include radius-top();
      }
      @media (min-width: $brkpoint-md) {
        @include radius-left();
        height: $feature-side-unit;
        width: $feature-side-unit;
      }
    }
    &--right {
      @extend .card__feature;
      @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
        height: $feature-cap-unit;
        @include radius-top();
      }
      @media (min-width: $brkpoint-md) {
        @include radius-right();
        height: $feature-side-unit;
        width: $feature-side-unit;
      }
    }
  }
  &__top, &__bottom {
    padding: $base-h-padding+px;
    @extend %clearfix;
  }
  &__body {
    padding: $base-h-padding+px;
    .card__top {
      padding: 0;
    }
  }
  &__heading {
    @extend .block;
    line-height: 1;
    margin: 0;
  }
  &__subheading {
    @extend .block;
    color: $grey;
    margin: 0;
  }
  &__text {
    font-size: em(14px, 16px);
    line-height: em(20px, 14px);
  }
  .avatar-container--sm + .card__top {
    padding-left: $key-number*1.5+$key-number+px;
    .card__heading, .card__subheading {
      font-size: $base-font-size*.75+px;
      line-height: 1;
    }
  }
  .avatar-container--md + .card__top {
    padding-left: $key-number*2+$key-number+px;
    .card__heading {
      line-height: 1;
    }
  }
  .avatar-container--lg + .card__top {
    padding-left: $key-number*2.5+$key-number+px;
  }
  >*:last-child {
    margin-bottom: 0;
  }
}

.part__left--fixed.card__feature--left {
  @include erase-radius();
  @include radius-left();
  height: $feature-side-unit;
  width: $feature-side-unit;
}

.part__left--fixed.card__feature--right {
  @include erase-radius();
  @include radius-right();
  height: 66px;
  width: 66px;
}

.card-set__timestamp {
  padding: $base-v-padding/2+px 0;
  font-size: $base-font-size*.875+px;
  line-height: em(16px, 14px);
  color: $grey;
}