.tile-container {
  @extend %center-align;
  @extend .inline-block;
  margin-bottom: $base-v-padding/2+px;
  &__inner {
    @include radius();
    padding: ($base-h-padding - 2)+px $base-v-padding+px;
  }
  @for $i from 0 to 20 {
    &:nth-child(#{$i + 1}) {
      .tile {
        background-color: nth($all-colors, $i + 1);
      }
    }
  }
}

.tile {
  @extend %center-align;
  @extend .block;
  @include radius();
  background-color: $black;
  color: $white;
  @media (min-width: $brkpoint-sm) {
    @include square($key-number*4);
    @include spacing(padding, $key-number*1.25, 0);
    font-size: $base-font-size*1.75+px;
  }
}

.tile__title {
  @extend .dots;
  color: $white;
  font-size: 75%;
  max-width: $key-number*4+px
}

.tile__content {
  @include radius-bottom();
  background-color: transparentize($black, .2);
  padding: $base-h-padding+px;
}

.component__icon {
  @extend .pointer;
  //color: $input-icon-color;
  &:hover {
    color: $color-primary;
  }
  &--primary {
    @extend .component__icon;
    color: $color-primary;

  }
}

span, strong, b, a {
  &.juicon, >.juicon {
    @extend %icon-before-fix;
  }
}