.label {
  @extend .inline-block;
  @include radius();
  @each $theme, $color in $ui-colors {
    &--#{$theme} {
      background-color: $color;
    }
  }
  color: #fff;
  padding: 0 $base-v-padding +px;
  &--round {
    @include vendor-prefix(border-radius, 100px);
  }
  &--secondary {
    background-color: $component-bg-color;
    border-color: $component-border-color;
    color: $component-color;
    @include vendor-prefix(box-shadow, inset 0 0 0 1px $component-border-color);
  }
  &--notification {
    @extend .float--right;
    @extend %center-align;
    min-width: 2em;
    font-size: .75em;
  }

}

.list-group__item {
  .label {
    line-height: .675;
    padding: .675em;
  }
}

.label {
  > .juicon {
    @extend %icon-before-fix;
    margin-left: -($base-v-padding/2 +px);
    margin-right: -($base-v-padding/2 +px);
    + span {
      margin-left: $base-v-padding+px;
    }
  }
  > span + .juicon {
    margin-left: $base-v-padding+px;
  }
}

.list-group__item {
  > .label {
    margin: $base-h-padding/2+px;
  }
  &.active {
    .label {
      &--secondary {
        @include vendor-prefix(box-shadow, none);
      }
    }
  }
}


