table {
  @include show-brkpoints(table);
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      &.tr--selected {
        > th,
        > td {
          background-color: $color-primary;
          color: #fff;
        }
      }
      > th,
      > td {
        text-align: left;
        padding: ($base-v-padding + px) ($base-h-padding + px);
        line-height: $base-line+px;
        vertical-align: top;
        border-top: 1px solid $grey-x-light;
      }
      > th {
        font-weight: $font-weight-medium;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $grey-x-light;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-bottom: 1px solid $grey-x-light;
      }
      &:last-of-type {
        td {
          border-bottom: 0;
        }
      }
    }
  }
  &.vertical-align-middle {
    td {
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      &:hover {
        @extend .pointer;
        background-color: $component-bg-color-active;
      }
    }
  }
  td, th {
    @include show-brkpoints(table-cell);
  }
}
.sort-it {
  @extend .relative;
}
.sort-arrow {
  @extend .float--right;
  @extend .pointer;
  @extend .absolute;
  right: $base-v-padding/2+px;
  color: $input-icon-color;
  padding: $base-v-padding/2+px;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: .25s;
  &--flipped {
    @include rotate(180);
  }
}