@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 900;
  font-style: normal; }