@font-face {
  font-family: 'jui-lettering-bold';
  src:url('fonts/jui-lettering-bold.eot?24m7j7');
  src:url('fonts/jui-lettering-bold.eot?#iefix24m7j7') format('embedded-opentype'),
  url('fonts/jui-lettering-bold.woff?24m7j7') format('woff'),
  url('fonts/jui-lettering-bold.ttf?24m7j7') format('truetype'),
  url('fonts/jui-lettering-bold.svg?24m7j7#jui-lettering-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jui-lettering-bold"], [class*=" jui-lettering-bold"] {
  font-family: 'jui-lettering-bold';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
}

.jui-lettering-bold-a:before {
  content: "\e600";
}
.jui-lettering-bold-b:before {
  content: "\e601";
}
.jui-lettering-bold-c:before {
  content: "\e602";
}
.jui-lettering-bold-d:before {
  content: "\e603";
}
.jui-lettering-bold-e:before {
  content: "\e604";
}
.jui-lettering-bold-f:before {
  content: "\e605";
}
.jui-lettering-bold-g:before {
  content: "\e606";
}
.jui-lettering-bold-h:before {
  content: "\e607";
}
.jui-lettering-bold-i:before {
  content: "\e608";
}
.jui-lettering-bold-j:before {
  content: "\e609";
}
.jui-lettering-bold-k:before {
  content: "\e60a";
}
.jui-lettering-bold-l:before {
  content: "\e60b";
}
.jui-lettering-bold-logo:before {
  content: "\e60c";
}
.jui-lettering-bold-m:before {
  content: "\e60d";
}
.jui-lettering-bold-n:before {
  content: "\e60e";
}
.jui-lettering-bold-o:before {
  content: "\e60f";
}
.jui-lettering-bold-p:before {
  content: "\e610";
}
.jui-lettering-bold-q:before {
  content: "\e611";
}
.jui-lettering-bold-r:before {
  content: "\e612";
}
.jui-lettering-bold-s:before {
  content: "\e613";
}
.jui-lettering-bold-t:before {
  content: "\e614";
}
.jui-lettering-bold-u:before {
  content: "\e615";
}
.jui-lettering-bold-v:before {
  content: "\e616";
}
.jui-lettering-bold-w:before {
  content: "\e617";
}
.jui-lettering-bold-x:before {
  content: "\e618";
}
.jui-lettering-bold-y:before {
  content: "\e619";
}
.jui-lettering-bold-z:before {
  content: "\e61a";
}
